body{
	color:white;
	background-image:url(nol.jpg);
	font-family: 'Marck Script', cursive;
	background-size:100%;
	font-size: 200px;
	
}

select{
	font-size:100px;
	
}

a{
color:white;	
}

div{
	font-size:100px
	
}