body{
	background: white;
}

#box{
	width: 100px;
	height:100px;
	background: lime;
	position: absolute;
}

#box2{
	width: 100px;
	height:100px;
	margin-left: 300px;
	position: absolute;
	background: red;
}